.btn
{
    color: lightgreen;
    background: tomato;
    padding: 10px;
    margin: 17px;
    border-radius: 9px;
    font-weight: bolder;
    float: right;
}

.btn:hover
{
    background: #ffffff;
    color: cadetblue;
    border-radius: 9px;
    transition-duration: 1s;
    border-color: cadetblue;
}