.slider
{
    margin-top:-55px;
    position: relative;
}

.slider:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    top: 0;
}

.slider-img
{
    
    /*object-fit: cover;*/
    width: 99%;


}

.slider__contenido
{
    width: 90%;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}


h2{
    /* Se elige la etiqueta h1 del html, que es donde se encuentra el nombre del texto animado y tendrá una posición relativa. Sera flotante el texto y de lado izquierdo, tendrá la caja donde estará el texto de color negro y las letras serán de color verde*/
    position: relative;
    float: left;
    color:  #00c3ff;
    font-weight: bolder;
}


.contenido
{
    color: #fff;
    text-align: center;
    align-items: flex-start; /*Alinea los elementos de forma recta*/
}


.color{
  font-family: cursive;
  background-color: limegreen;
  margin: 10px 10px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 30px;
  width: 220px;
  display: inline-block;
  vertical-align: middle;
  color:#fff;
  cursor: pointer;
}
/*
.sombra{
  transform: translateX(0);
}
*/
.sombra:before{
  content: '';
  position: absolute;
  width:90%;
  left: 5%;
  top: 100%;
  height:10px;
  background: radial-gradient(
    center, ellipse,
    rgba(0,0,0,0.35) 0%,
    rgba(0,0,0,0)80%);
    transition-duration: 0.3s;
    opacity: 0;
}

.sombra:hover{
  transform: translateY(-5px);
  background-color: mediumseagreen;
  transition-duration: 1s;
}

.sombra:hover:before{
  transform:translateY(7px);
  opacity: 1;
}















.grupo--color .contenido
{
    background: #fff;
    color: rgba(0,0,0,0.6);
    padding:10px;
    text-align: left;
    font-family: cursive;
    justify-content:flex-start;
}

.main__titulo
{
    margin:15px 0;
    font-size:1.5em;
    font-family:cursive;
    font-weight: 100;
}

.columna__titulo
{
    font-size: 1.8em;
    color: #fff;
}

.main__about__descripcion .columna:nth-child(2)
{
    padding: 10px;
}

.btn
{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #3a7999;
    color: #fff;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
    transform-style: preserve-3d
}
.btn:hover
{
   transition-duration: 0.7s;
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.grupo__titulo
{
    font-family: cursive;
    text-align: center;
    
    font-size:1.8em;
    margin: 30px;
    color: #000; 
}

.today-special .columna
{
    margin-bottom: 30px;
    text-align: center;
}

.today-special__img
{
    margin: auto;
    max-width: 350px;
}

.today-special__titulo
{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.today-special__precio
{
    font-size: 1.5em;
    color: #3a7999;
}


ul
{
  color: rgba(0,0,0,0.6);
  cursor: vertical;
}

.nombres
{
  color: #3a7999;
  font-weight: bold;
}



/*---------------------------------Estilos responsivos-------------------------------------*/



/*480 representa la medida de un móvil*/

@media screen and (min-width:480px) {
    
    .menu-header__contactoinfo {
        text-align: right;
    }
    .menu-header__contactoinfo__telefono {
        background: none;
    }
    .menu-header__contactoinfo__ubicacion {
        color: #fff;
    }
    /*Aquí se quita o pone la franja negra trasparente*/
    .menu-nav
    {
        background: rgba(0,0,0,0.85);
    /*Sube la franja margin-top: -34px;*/
    }

    .banner{
        margin-top: -240px;
        z-index: -1000;
    }
    .banner__img{
      height: 650px;
    }
    .banner__contenido
    {
        font-size: 2em;
    }
    .main{
      padding-bottom: 15px;
    }
    .descripcion .columna:nth-child(2)
      {
        padding-left: 20px; /*Separa de el texto de la imagen*/
      }
    .descripcion .btn
    {
      margin: 0; /*Para que el botón se mueva a la izquierda. Pero unicamente en el botón que esta dentro de
      .main__about__description, para que no se confunda con otro botón.*/
    }

  /*A las columnas se les agrega un borde*/
  .today-special .columna
  {
    border: 5px solid #ddd;
    padding:5px;
  }

  .today-special__img
  {
    height: 200px;
    object-fit: cover;
  /*object-fit: cover; Es para que la imagen no se deforme o estire y se vea mal*/
  }
  .main-footer .contenido--flex{
      align-items: flex-start;
      /*Sirve para alinear un texto de manera vertical.*/
  }
  .columna--50{
      width: 49%;
  }

  .columna--50-25{
       width: 49%;
  }
  .columna--33{
       width: 32%;
       /*Sirve para que este en tres columnas las imagenes.*/
  }
}
/*Siguiente medida de la página:*/
@media screen and (min-width:768px){
  .main__titulo{
    font-size: 2em;
  }
  .descripcion{
    margin-top: 30px;
  /*Esto ayuda a separar de el fragmento de color azul, por arriba del ahora austronauta*/
  }
  .descripcion{
    margin-top: 30px;
  }
  .descripcion .columna--50:nth-child(2){
    font-size: 1em;
  }
  .descripcion .columna--50:nth-child(2)
  .columna__txt{
    line-height: 30px;
  /*Sirve para quitar el espacio en blanco a lado del austronauta.
  line-height. Quiere decir alto del texto.*/
  }
  .columna--50-25{
    width: 24%;
  /*Ajuste de las columnas, para que sean de 4 cada imagen.*/
  }
  .columna__title{
    font-size: 1em;
  }
  .grupo__titulo{
    fot-size: 2.2em;
  }
}
/*Vuelve a crecer el tamaño de pixeles de la pantalla.*/
@media screen and (min-width:1024px){
    .contenido{
        width: 1000px;
    /*Se le quita espacio al menu y se junta el contenido. */
    }
    .banner-img{
        height: 750px;
    }
  .logo{
    font-size: 2em;
    padding: 0;
  }

  .menu-header__contactoinfo__telefono,
  .menu-header__contactoinfo__ubicacion{
    padding-right:0;
    font-size: 1.15em;
  }
  .menu-nav{
    padding: 0;
  }
  .banner__contenido{
    font-size:2.5em;
  }
  .icono-menu{
    display: none;
  /*Aqui en display se retira el icono menu ya que no es necesario porque la pagina tiene mas pixeles y es
  adaptable a una resolucion de pantalla más grande.*/
  }
  
  .menu{
    position: static;
    display: flex;
    height: auto;
    width: auto;
  /*Aqui vuelve a aparecer el menu de forma lineal*/
  /*Al principio se sale de su posición original y esto position: static; hace que regrese a su posición original
  y width: auto; es para que tenga su ancho de manera automatica*/
  /*  height: auto;
    width: auto;
    Es para que el navegador se ajuste a dispositivo móvil o en ordenador
      display: flex; Es para hacer que todos esten uno a lado del otro elemento.*/
  }

.menu__link
{
    padding: 20px;
}

.grupo--color .contenido
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.main__titulo {
    font-size: 2em;
    }

.today-special__titulo
{
    font-size: 1.4em;
}

.today-special__precio{
    font-size: 1.7em;
    }
    .main-footer{

    }

    .main-footer{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
/*Aqui se adapta a ordenadores de escritorio.*/
@media screen and (min-width:1600px){
    .contenido{
        width: 1400px;
    }
    .descripcion .columna:nth-child(1) img{
        width: 100%;
        height: 350px;
        object-fit: cover; /*Sirve para que la imagen no se estire*/
    }
    .today-special__img{
        height: 300px;
    }
}

/*Aquí se hace de lado izquierdo el austronauta.
    .column--50--25
    {
        width: 49%;
    }

    Cambia a un tono suave al momento de hacer hover.
    
transition:all .5s ease-in-out; 

*/