.lado
{
    width: 50%;
    height: 48%;
    margin: 20px;
    float: right;
    transform: translate(0, 0);
    border-radius: 12px;
    cursor: pointer;
}

.lado:hover
{
    box-shadow: 20px 20px 25px #999;
    transition-duration: 1s;
    transform:scale(1.03);
    border-radius: 12px
}

.azul
{
    font-family: cursive;
    font-size: 20px;
}

.cuadro
{
    background-color: #3EB711;
}


.cambio
{
    border-radius: 10px;
    height: 48em;
    width: 19em;
}


.cambio:hover
{
    box-shadow: 1px 1px 1px;
    transition-duration: 1s;
    transform:scale(1.02);
}


.titulo_especial
{
    color: #fff;
    font-size: 37px;
    padding: 12px;
}

.color_blanco ul
{
    color: #fff;
}

.nombres
{
    color: #3EB711;
    font-weight: bold;
}

.titulo_principal
{
    font-size: 55px;
}


.letras_b
{
    color: #fff;
    font-weight: bold;
    font-size: 28px;
}

.unido
{
    padding: 30px;
}

.centroide
{
    color: #fff;
    font-weight: bolder;
    font-size: 33px;
    padding:  20px;
    border-top: 4px solid #369AB8; 
    border-bottom: 4px solid #F1CF0E;
    width: 24em;
}

.info
{
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

/*----------------------------Inician estilos responsivos--------------------------------------*/

@media screen and (min-width:375px) and (max-width: 667px) {   
  
    .unido {  
            text-align:center;  
            font-size: 67px;
            display: block;
        }  
            .centroide{
                text-align:center;  
                font-size:24px;
                display: block;
                border-top: 3px solid #333; 
                border-bottom: 3px solid #333;
                width: 11em;
            }
            .info{
                text-align:center;  
                font-size: 16px;
                display: block;
            }
            
     }




@media screen and (min-width:416px) and (max-width: 709px) {   
  
    .unido {  
            text-align:center;  
            font-size: 67px;
            display: block;
        }  
            .centroide{
                text-align:center;  
                font-size:24px;
                display: block;
                border-top: 3px solid #333; 
                border-bottom: 3px solid #333;
                width: 11em;
            }
            .info{
                text-align:center;  
                font-size: 16px;
                display: block;
            }
            
     } 
        
        @media screen and (min-width:710px) and (max-width: 910px){
            
            .unido {  
            text-align:center;  
            font-size: 5px;
            display: block;
        }  
        .centroide{
                text-align:center;  
                font-size:26px ;
                border-top: 3px solid #333; 
                border-bottom: 3px solid #333;
                width: 19em;
            }
            .info{
                text-align:center;  
                font-size: 16px;
                display: block;
            }
            
            }

            @media screen and (min-width:915px) and (max-width: 985px){
            
                .unido {  
                text-align:center;  
                font-size: 5px;
                display: block;
            }  
            .centroide{
                    text-align:center;  
                    font-size: 28px;

                    border-top: 3px solid #333; 
                border-bottom: 3px solid #333;
                width: 23em;
                }
                .info{
                    text-align:center;  
                    font-size: 18px;
                    display: block;
                }
                
                }
     } 
    
        




















