.contenedor
{
    width: 90%;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

.libro
{
    font-size: 35px;
    text-align: left;
}

.chico
{
    font-size: 20px;
    text-align: left;
}

.espacio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:35px;
    color: rgba(0,0,0,0.6);
  }
  
  .espacio article {
    width: 100px;
    height: 100px;
  }

  .relatividad {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:17px;
    padding: 120px;
  }
  
  .relatividad div {
    width: 100px;
    height: 100px;
  }

  .disenos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    background-color: #3b83bd;
    color: #fff;
  }
  .disenos aside {
    width: 100px;
    height: 100px;
  }

  
  

  /*Inicio de media queris...*/

  @media(max-width: 679px){
    .relatividad {
      width: 105%;
    }
  }
  @media(max-width: 507px){
    .relatividad{
      width:120%;
    }
  }
  @media(max-width: 507px){
    .espacio{
      width:90%;
      padding-left: 16px;
    }
  }